.container {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  background-color: dodgerblue;

  padding: 5px;

  gap: 5px;

}
body {
 background-image:url("https://images2.alphacoders.com/459/459168.jpg");
 background-color: #000000cc;
}

.container div {

  background-color: #f1f1f1;

  color: #000;

  padding: 10px;

  font-size: 30px;

  text-align: center;
}

.container img {
width: 100%;
height: 100%;
object-fit: cover; 
max-width: 100%; 
max-height: 100%; 

}