.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container div {
background-color: #f1f1f1;
color: #000;
 padding: 10px;
  font-size: 20px; /* slightly smaller so text fits better */
  text-align: center;
  height: 350px; /* fixed height for each grid item */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space between text and image */
}

.container img {
  width: 50%;
  height: 50px; /* fixed height for images */
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
