body {
 background-image:url("https://images2.alphacoders.com/459/459168.jpg");
 background-color: #000000cc;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
title{
  text-align: center;
}


