body {
 background-image:url("https://images2.alphacoders.com/459/459168.jpg");
 background-color: #cccc;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
title{
  text-align: center;
}


