body {
 background-image:url("https://www.apc.edu.ph/wp-content/uploads/2021/09/MicrosoftTeams-image-2.jpg");
 background-color: #cccc;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
title{
  text-align: center;
}


